@import url(http://fonts.googleapis.com/css?family=Rokkitt|Paytone+One);

* {
    margin:0;
    padding:0;
}


body {
    background-color: #FFC757;
    font-family: "Rokkitt";
}
h1, h2 {
    text-transform: uppercase;
    font-family: "Paytone One";
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    opacity: 0.4;
}
p, img {
    display: block;
    margin: auto;
}
p {
    font-family: "Rokkitt", sans-serif;
    font-size: 18px;
    padding: 10px;
}
img {
    padding: 10px;
}

main, section {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
main > p {
    text-align: center;
}
footer {
    background-color: #FFC757;
    height: 80px;
}
footer > p {
    text-align: center;
    display: block;
    padding: 25px;
    max-width: 700px;
    font-size: 16px;
    margin: 0 auto;
}
form {
    margin-top: 50px;
}
input {
    outline: none;
    border:none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="text"] {
    padding: 2px 2px 2px 15px;
    width: 170px;
    height: 45px;
    font-family: "Rokkitt";
    font-size: 15px;
    border: 1px solid white;
}

#about, form, .setup, .connect {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;

}
.explain {
    /*display: none; */
    position: fixed;
    z-index: 15; 
    background-color: white;
    height:600px;
    width:800px;
    position: fixed;
    left: 50%;
    top: 30%;
    /* Set margins to offset 50% of the w/h */
    margin: -150px 0 0 -400px;
}
.detailed-about {
    position: relative;
    margin-top: 100px;
    width: inherit;
}
.detailed-about > p {
    text-indent: 40px;
    font-size: 22px;
    margin-top: 30px;
    max-width: 520px;
}
#cancel {
    float: right;
    padding: 20px;
}
.button {
    font-size: 13px;
    border: 5px solid white;
    width: 170px;
    height: 50px;
    background-color: #FFC757;
    text-transform: uppercase;
}
.button:hover {
    background-color: #FF9C59; 
}
.z {
  position: absolute;
  font-family: sans-serif;
  color: white;
  font-size: 0;
}
.message {
    width: 800px;
}

.more {
    height: 100vh;
    margin: auto;
    background-color: #FF9C59; 
}
.more > div, .setup, .connect {
    margin-top: 300px;
}
.over {
    color: red;
}


.hvr-sink {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(10px);
  transform: translateY(px);
}

#tag-line {
    font-size: 80px;
    font-family: "Paytone One";
    font-weight: bold;
    width: 400px;
    float: center;
    margin-top: 10%;
    text-transform: uppercase;
}
.aboutsection-open {
    opacity: 0.4;
}
.aboutsection-open:hover {
    cursor: pointer;
}
/*** team page **/
.team {
    padding: 50px;
    margin-top: 100px;
    background-color: #FF9C59;
}
.row {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    height: 60vh;
}
.member {
    width: 33%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.member > img {
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
}

.desc {
    width: 200px;
    text-align: center;
    padding: 10px;
}

.choose-time {
    height: 30px;
    border: none;
    outline: none;
    font-family: "Rokkitt";
    padding: 15px;
    margin: 2px;
    font-size: 10px;
}

.setup {
    height: 400px;
}
.connect {
    font-size: 18px;
    display: none;
}
.avenues {
    list-style: none;
    text-align: center;
}

.avenues li  {
    padding: 10px;
    display: inline-block;
}
#gmail-add, #sms-add {
    display: none;
}

.connect-form {
    max-width: 200px;
}
.connect-form input[type="text"] {
    width: 200px;
    margin: 8px;
}
#twitter-submit, #gmail-submit, #sms-submit {
    position: relative;
    background-color: #FF9C59; 
    display: block;
    margin: 30px auto;
}
#twitter-submit:hover, #gmail-submit:hover, #sms-submit:hover{
    background-color: #FFC757;
}
.incomplete {
   background-color: rgba(255, 218, 241, 0.5);
}

.complete {
    background-color: white;
}

.overlay{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.2);
    z-index:10;
}
.close:hover {
    background-color: #FFC757;
}
#time-is-up{
    width:500px;
    height:375px;
    background-color:#fff;
    border-radius:2px;
    position:fixed;
    top:200px;
    left:50%;
    margin-left:-250px;
    text-align:center;
}

.button-holder .button{
    padding:13px 22px;
    margin:3px;
}

#time-is-up{
    height: 240px;
}

#time-is-up h2{
    padding: 60px 0 40px;
    font-size: 40px;
}

#time-is-up .button{
    padding: 12px 20px;
}
/*-------------------------
    The clocks
--------------------------*/


#clock{
    display: none;
    width:370px;
    padding:40px;
    margin:200px auto 60px;
    position:relative;
}

#clock:after{
    content:'';
    position:absolute;
    width:400px;
    height:20px;
    border-radius:100%;
    left:50%;
    margin-left:-200px;
    bottom:2px;
    z-index:-1;
}


#clock .display{
    text-align:center;
    padding: 40px 20px 20px;
    border-radius:6px;
    position:relative;
    height: 54px;
}




/*-------------------------
    Light color theme
--------------------------*/


#clock.light{
    background-color:#f3f3f3;
    color:#272e38;
}

#clock.light:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
    background-color:#272e38;
    border-color:#272e38;   
}

#clock.light .digits div.dots:before,
#clock.light .digits div.dots:after{
    background-color:#272e38;
}


#clock.light .display{
    background-color:#dddddd;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
    Dark color theme
--------------------------*/


#clock.dark{
    background-color:#272e38;
    color:#cacaca;
}

#clock.dark:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#clock.dark .digits div span{
    background-color:#cacaca;
    border-color:#cacaca;   
}



#clock.dark .display{
    background-color:#0f1620;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after{
    background-color:#cacaca;
}


/*-------------------------
    The Digits
--------------------------*/


#clock .digits div{
    text-align:left;
    position:relative;
    width: 28px;
    height:50px;
    display:inline-block;
    margin:0 4px;
}

#clock .digits div span{
    opacity:0;
    position:absolute;

    -webkit-transition:0.25s;
    -moz-transition:0.25s;
    transition:0.25s;
}

#clock .digits div span:before,
#clock .digits div span:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border:5px solid transparent;
}

#clock .digits .d1{         height:5px;width:16px;top:0;left:6px;}
#clock .digits .d1:before{  border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
#clock .digits .d1:after{   border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d2{         height:5px;width:16px;top:24px;left:6px;}
#clock .digits .d2:before{  border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
#clock .digits .d2:after{   border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

#clock .digits .d3{         height:5px;width:16px;top:48px;left:6px;}
#clock .digits .d3:before{  border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
#clock .digits .d3:after{   border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d4{         width:5px;height:14px;top:7px;left:0;}
#clock .digits .d4:before{  border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d4:after{   border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d5{         width:5px;height:14px;top:7px;right:0;}
#clock .digits .d5:before{  border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d5:after{   border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

#clock .digits .d6{         width:5px;height:14px;top:32px;left:0;}
#clock .digits .d6:before{  border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d6:after{   border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d7{         width:5px;height:14px;top:32px;right:0;}
#clock .digits .d7:before{  border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d7:after{   border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

#clock .digits div.one .d5,
#clock .digits div.one .d7{
    opacity:1;
}

/* 2 */

#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3{
    opacity:1;
}

/* 3 */

#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3{
    opacity:1;
}

/* 4 */

#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7{
    opacity:1;
}

/* 5 */

#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7{
    opacity:1;
}

/* 6 */

#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7{
    opacity:1;
}


/* 7 */

#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7{
    opacity:1;
}

/* 8 */

#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7{
    opacity:1;
}

/* 9 */

#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7{
    opacity:1;
}

/* 0 */

#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
    opacity:1;
}


/* The dots */

#clock .digits div.dots{
    width:5px;
}

#clock .digits div.dots:before,
#clock .digits div.dots:after{
    width:5px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    top:14px;
}

#clock .digits div.dots:after{
    top:34px;
}


/*-------------------------
    The Alarm
--------------------------*/


#clock .alarm{
    width:16px;
    height:16px;
    bottom:20px;
    position:absolute;
    opacity:0.2;
}

#clock .alarm.active{
    opacity:1;
}


/*-------------------------
    Weekdays
--------------------------*/


#clock .weekdays{
    font-size:12px;
    position:absolute;
    width:100%;
    top:10px;
    left:0;
    text-align:center;
}


#clock .weekdays span{
    opacity:0.2;
    padding:0 10px;
}

#clock .weekdays span.active{
    opacity:1;
}


/*-------------------------
        AM/PM
--------------------------*/


#clock .ampm{
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:12px;
}



