

/*title*/
h1 {
    text-align: center;
    font-size: 50;
}

body {
    background-color: #FFC757;
    font-family: "Rokkitt";
    text-align: center;
    font-size: 25;

}
p {
    font-family: "Rokkitt", sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
img {
    margin-top: 50px;
    padding: 10px;
}

/*photos*/
div.img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}   

div.img img {
    margin-left: auto;
    margin-right: auto;   
    display: inline; 
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}


div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
}